.container{
  overflow-y: hidden;
  height: 100%;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
}

.search-bar-container{
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: 13px ;
  background-color: white;
  -webkit-border-radius: 13px ;
  -moz-border-radius: 13px ;
  -ms-border-radius: 13px ;
  -o-border-radius: 13px ;
}
input, select{
  min-width: 12rem;
}
.form{
  display: flex;
  justify-content: space-between;
}
.table-responsive{
  height: 90vh;
  overflow-y: auto;
}
.submit-btn{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10rem;
  border-radius: 5px;
  background-color: var(--primary-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.submit-btn i{
  /* align-self: left; */
  /* margin-right: 1.5rem; */
}
table {
  width: 100%; /* Make table fill the container width */
  border-collapse: collapse; /* Collapse borders */
}

th, td {
  padding: 8px; /* Add padding to cells */
  border-bottom: 1px solid #ddd; /* Add bottom border to cells */
}

th {
  background-color: #f2f2f2; /* Background color for header */
}
